---
import Layout from "@layouts/Layout.astro";

//microCMS呼び出し
import { getContents } from "@lib/microcms";
const response = await getContents("blog");
---

<Layout title="My first blog with Astro">
  <main>
    <h2>ブログ記事</h2>
    <ul>
      {
        response.map((post) => (
          <li>
            <a href={`/blog/${post.id}`}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
