---
import type { ContentType, PostData } from "src/type";

import FormattedDate from "@components/parts/FormattedDate.astro";

interface Props {
  type: ContentType["type"];
  article: PostData;
}

const { type, article } = Astro.props;
---

<article class="article">
  <h1>{article.title}</h1>
  <p>
    公開日時：<FormattedDate date={article.publishedAt} />
  </p>
  <div set:html={article.content} />
  <a href={`/${type}`}>一覧へ戻る</a>
</article>
