---
import Layout from "@layouts/Layout.astro";
import PostList from "@components/parts/PostList.astro";

//microCMS呼び出し
import { getContents } from "@lib/microcms";

//data
const type = "news";
const response = await getContents(type);
---

<Layout title="My first blog with Astro">
  <main>
    <h2>ニュース記事一覧</h2>
    <PostList posts={response} type={type} />
  </main>
</Layout>
