---
import type { ContentType, CategoryData } from "src/type";

interface Props {
  type: ContentType["type"];
  categories: CategoryData[];
}

const { type, categories } = Astro.props;
---

<div>
  {
    categories.map((category) => (
      <span>
        <a href={`/${type}/category/${category.id}`}>{category.name} </a>
      </span>
    ))
  }
</div>
