---
import type { ContentType, PostListData } from "src/type";

interface Props {
  type: ContentType["type"];
  posts: PostListData[];
}

const { type, posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/${type}/${post.id}`}>{post.title}</a>
      </li>
    ))
  }
</ul>
